ul.a {
  list-style-type: circle;
}
body {
    background-color: #B6D0E2;
}

h1,h2 {background-color: #F8F8FF;}
h3, body{ 
  font-family: "Trirong", serif;
font-size: 30px; 
color:black;
}
p{ border: solid;
  padding: 20px;
  color: black;

}

body {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left:50px;
  margin-right:50px
}
body{
  border: solid;
  padding: 20px 200px 200px 200px;
  color: black;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #000000;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #000000;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #000000;
  color: white;
}

p {
  color: black;
  font-size:25px
}

li {
  border: solid;
  padding: 20px 50px 75px 200px;
  color: white;
}
nav.scrollmenu {
  background-color: #000000;
  overflow: auto;
  white-space: nowrap;
}

nav.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 50px;
}

nav.scrollmenu a:hover {
  background-color: #777;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
a {
  color: black; /* Set the color to red (you can use any valid color value) */
  text-decoration: none; /* Optional: Removes the underline typically applied to links */
}

a:hover {
  color: red; /* Set the color to green when the link is hovered over */
}

    </style>
